# Woocommerce application's path (absolute or relative)
APP_PATH=../path/to/woocommerce/folder

PROJECT_NAME=woo_project
PROJECT_USER=user
PROJECT_GROUP=user
PROJECT_USER_ID=1000
PROJECT_USER_GID=1000

# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=woo_db
MYSQL_USER=user
MYSQL_PASSWORD=userpass
SERVICE_MAILHOG_UI_EXTERNAL=8025
SERVICE_MAILHOG_UI_INTERNAL=8025
SERVICE_MAILHOG_SMTP_EXTERNAL=10255
SERVICE_MAILHOG_SMTP_INTERNAL=1025

# Timezone
TIMEZONE=Europe/Paris
